body {
    background-color: #E1E6EC;
}

.avatar {
    vertical-align: middle;
    height: 2rem;
    border-radius: 50%;
}

.form-group {
    margin: 2rem;
}

.card-login {
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
    animation: SLIDE_UP 1.5s ease, FADE_IN 1.5s;
}


#messages {
    margin: 6rem 3rem 6rem 3rem;
}

.message {
    margin: 1rem auto;
}   

.chat-left, .chat-right {
    color: black;
    padding: .2rem;
    border-radius: .25rem;
}

.chat-left {
    text-align: left;
    background-color: #4e81be;
    margin-right: 3em;
}

.chat-right {
    text-align: right;
    background-color: #a8cbf5;
    margin-left: 3em;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#inputs {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

#content {
    width: 50%;
    height: 100%;
}

#send {
    width: 50%;
    height: 100%;
}


@keyframes SLIDE_UP {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes FADE_IN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



